h1 {
    font-family: "Playwrite NO", cursive, sans-serif;
    font-size: 2rem;
    margin: 1rem 0 2rem 2rem;
    border-bottom: 2px solid lightgray;
    width: 30rem;
}

img {
    display: inline-block;
    width: 50rem;
    height: 50rem;
    margin: 0 0 2rem 2rem;
}